{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <form action="{% url 'index' %}" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <h1><a href="{% url 'index'%}">Mega Buscador</a></h1>
                    <h4>[{{ city }} {% if country %} - {{ country }} {% endif %}]</h4>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="key" placeholder="Digite um termo para busca (obrigatório)" required>
                    <small id="keyHelp" class="form-text text-muted">Exemplo: Pizzaria Italiana, Japanese Food</small>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="loc" placeholder="Digite uma cidade para a busca">
                    <small id="keyLoc" class="form-text text-muted">Exemplo: Teresina, Toronto, Paris</small>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
            {% if 'error' in items %}
                <h1>Nenhum estabelecimento encontrado em {{ city }}</h1>
            {% elif busca and items.businesses|length < 1 %}
                <h1>Nada encontrado sobre o termo buscado</h1>
            {% elif city and items %}
                <h1>Resultado da Busca</h1>
                {% for biz in items.businesses %}
                    <span class="text-info">{{ biz.name }}, {{ city }}</span><br>
                {% endfor %}
            {% endif %}
        </div>
        {% if city and items%}
            {% include 'maps.html' %}
        {% endif %}    
    </div>
{% endblock %}